div{
    width:300px;
    border:25px solid green;
    padding: 25px;
    margin: 25px;
   }

 

table{
    border-collapse: collapse;
    width: 50%;
}

th,td{
   border-bottom: 1px solid black;
}
/*tr:hover{background-color: silver;}*/
tr:nth-child(odd){background-color: rgb(235, 235, 235);}
th{
    background-color: rgb(105, 240, 105);
}